* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(73, 71, 71);
  color: rgb(230, 230, 230);
  height: auto;
  width: 270px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.btn {
  height: auto;
  width: 40px;
}

.btn-primary-2 {
  margin-right: 10px; /*TRATAR DE CONFIGURAR MEJOR LOS ESPACIOS ENTRE BOTONES*/
}
